html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#renderer {
  top: 0px;
  left: 0px;
  padding: 0;
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

.button-container {
  position: absolute;

  top: 10px;
  left: 10px;
  z-index: 1000;

  .button {
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;

    background: #2196f3;
    border-radius: 2px;

    padding: 5px 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

    cursor: pointer;
  }

}